.button{
    display: inline-block;
    background-color: var(--primary-theme-color);
    border: 0.125rem solid var(--primary-theme-color);
    border-radius: var(--primary-border-radius);
    color: var(--primary-text-color);
    font-weight: 600;
    font-family:var(--primary-font-family);
    text-decoration: none;
    padding: 0.25em 1em;
    box-sizing: border-box;
    cursor: pointer;
}
.button--primary{
    background-color: var(--primary-button-color);
    border: 0.125rem solid var(--primary-button-color);
    color: var(--reverse-primary-text-color);
}
.button--secondary{
    background-color: var(--secondary-button-color);
    border: 0.125rem solid var(--secondary-button-color);
    color: var(--reverse-primary-text-color);
}
.button--outline{
    background-color: transparent;
    color: var(--primary-text-color );
}